@model ClothingStoreV2.ViewModels.ItemCreateViewModel
<h1>you're admin and you're able to view this page</h1>

@{
    ViewBag.Title = "Create Item";
}

<form enctype="multipart/form-data" asp-controller="Item" asp-action="CreateItem" class="mt-3" method="post">

    <div class="form-group row">
        <label asp-for="ItemLabel">Item Label</label>
        <div class="col-sm-10">
            <input asp-for="ItemLabel" class="form-control" placeholder="Item Label">
            <span asp-validation-for="ItemLabel" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Price">Item Price</label>
        <div class="col-sm-10">
            <input asp-for="Price" class="form-control" placeholder="Item Price">
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="CategoryId">Select Category Id</label>
        <div class="col-sm-10">
            <!--  <select asp-for="CategoryId">
        <option value="1">Suits</option>
        <option value="2">Shirts</option>
        <option value="3">Jeans</option>
        <option value="4">Sportswear</option>
        <option value="5">Shoes</option>

    </select>-->
            <select asp-for="CategoryId" asp-items="@(new SelectList(Model.Categories, "Id", "CategoryLabel"))"></select>

            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
    </div>

    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group row">
        <div class="col-sm-10">
            <label asp-for="Photo" class="col-sm-2 col-form-label"></label>

            <div class="custom-file">
                <input multiple asp-for="Photo" class="form-control custom-file-input" />
                <label class="custom-file-label">Choose File...</label>
            </div>
        </div>
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
    @section Scripts {
        <script>
            $(document).ready(function () {
                $('.custom-file-input').on("change", function () {
                    var fileLabel = $(this).next('.custom-file-label');
                    var files = $(this)[0].files;
                    if (files.length > 1) {
                        fileLabel.html(files.length + 'files selected');
                    }
                    else if (files.length == 1) {
                        fileLabel.html(files[0].name);
                    }

                
                });
            })
        </script>
    }

</form>