/*html {
    font-size: 14px;
}
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}
html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px;
}*/
/*.pagination .page-link {
    background: black;
    color: white;
}
.page-item.active .page-link {
    color: black;
    background: white;
    border-color: black;
}*/
.imageThumbnail {
    width: 240px;
    height: 400px;
    width: auto;
}
.imageBuyThumbnail {
    width: 315px;
    height: 472px;
}
/*.custom-card {
    flex-direction: row !important;
    margin-top: 40px;
}*/
.suitsContainer {
    margin-top: -30px;
    position: relative;
    text-align: center;
    color: white;
    -webkit-filter: brightness(100%);
}
.suitsContainerCentered {
    padding: 50px 90px 50px 90px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.55);
}
.suitsContainer .suitsContainerCentered .h2 {
    font-size: 200px !important;
}
.suitsContainer :hover {
    -webkit-filter: brightness(70%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
/*--------------------------------------------------------------------------------------------*/
#page-container {
    position: relative;
    min-height: 70vh;
}
body {
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    min-height: 100vh;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}
a, a:hover {
        text-decoration: none !important;
    }
/* start navbar*/
/*.navbar {
    background-color: #000000;
    padding:0;
}
.navbar .navbar-brand {
        color: #ffffff;
        font-size: 30px;
        font-weight: 500;
    }
.navCat {
    font-size: 20px;
    font-weight: 500;
    margin: .1em 2em .0em 2em;
}
.activenavcat {
    background: white;
    color: black !important;
}
.navbar .navbar-toggler {
    border-color: #f9f3f3;
}
.navbar .navbar-toggler:hover,
    .navbar .navbar-toggler:focus {
        background-color: #f9f3f3;
    }
    .navbar .navbar-toggler .navbar-toggler-icon {
        color: #ffffff;
    }
.navbar .navbar-collapse,
.navbar .navbar-form {
    border-color: #ffffff;
}
.navbar .navbar-link {
    color: #ffffff;
}
    .navbar .navbar-link:hover {
        color: #000000;
    }
@media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ffffff;
    }
        .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
        .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
            color: #000000;
        }
        .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
            color: #000000;
            background-color: #f9f3f3;
        }
}
@media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ffffff;
    }
        .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
        .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
            color: #000000;
        }
        .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
            color: #000000;
            background-color: #f9f3f3;
        }
}
@media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ffffff;
    }
        .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
        .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
            color: #000000;
        }
        .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
            color: #000000;
            background-color: #f9f3f3;
        }
}
@media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ffffff;
    }
        .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
        .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
            color: #000000;
        }
        .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
            color: #000000;
            background-color: #f9f3f3;
        }
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ffffff;
}
    .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #000000;
    }
    .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #000000;
        background-color: #f9f3f3;
    }
.navbar .navbar-nav .nav-item .nav-link {
    color: #ffffff;
    padding: 7px 8px 8px 8px;
    padding-right: 50px;
    padding-left: 50px;
}
    .navbar .navbar-nav .nav-item .nav-link:hover {
        color: #000000;
        background-color: #ffffff;
    }
    .navbar .navbar-nav .nav-item .nav-link :active {
        color: #000000;
        background-color: #ffffff;
    }*/
#nav-checkbox,
.nav-toggle {
    display: none;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
    transition: background-color 1s ease;
/*    margin-bottom: 500px;
*/
}
.logo h2 {
    color: #fff;
    text-transform: uppercase;
    font-weight: normal;
}
.nav-menu li {
    display: inline-block;
}
.nav-menu li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 0 15px;
}
.nav-menu li a:hover {
    color: #cc0000;
}
.active {
    background: black;
}
.active a:hover {
    color: red !important;
}
.nav-menu li .dropdown-menu {
    background: rgba(0,0,0,1);
}
@media only screen and (max-width: 950px) {
    header {
        display: block;
    }
    .logo {
        margin-left: 15px;
    }
    .nav-toggle {
        display: block;
        position: absolute;
        cursor: pointer;
        margin: 0 1rem;
        top: 25px;
        right: 0;
    }
    .nav-toggle img {
        width: 25px;
    }
    .close,
    input[type="checkbox"] {
        display: none;
    }
    #nav-checkbox:checked ~ .nav-menu {
        background: rgba(0,0,0,1);
        margin-top: 10px;
        padding: 10px 0;
        border-top: 1px solid #fff;
    }
    .nav-menu li {
        display: none;
        margin: 10px 0;
    }
    #nav-checkbox:checked ~ ul.nav-menu li {
        display: block;
    }
    #nav-checkbox:checked ~ label.nav-toggle .open {
        display: none;
    }
    #nav-checkbox:checked ~ label.nav-toggle .close {
        display: block;
    }
}
/* end navbar*/
/* start categories nav*/
@media (min-width: 768px) {
    .collapse.dont-collapse-sm {
        display: block;
        height: auto !important;
        visibility: visible;
    }
}
/* end categories nav*/
/* start mycontent*/
.mycontent {
    margin-top: 150px;
}
/* end mycontent*/
/* start slider*/
.slider {
    background-color: #DDD;
}
.slider .carousel-inner {
    display: flex;
    align-items: center;
    justify-content: left;
}
.slider .carousel-inner h1 {
    position: absolute;
    color: #fff;
    z-index: 3;
    font-size: 70px;
    max-width: 800px;
    left: 100px;
}
.slider .carousel-inner h1 span {
    color: black;
    background-color: white;
    display: inline-block;
    padding:2px 10px
}
    .slider .carousel-inner .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: rgba(0, 0, 0, .6);
        z-index: 2;
    }
/* end slider*/
/* start cards */
.itemLabel {
    text-transform: none !important;
    letter-spacing: normal;
    font-size: 132%;
    height: 1.5rem;
    font-weight: 400;
    color: black;
}
@media only screen and (max-width: 425px) {
    .itemLabel { margin-bottom: 23px; }
}
.itemPrice {
    color: #cc0000;
    font-weight: 700;
    font-size:100%
}
/* end cards*/
/* start bosotrap*/
@media (min-width: 1200px) {
    .container {
        max-width: 1750px;
    }
}
/* end bootstrap
*/
/* hbd */
/* hbd*/
/* start footer */
.customDark {
    background: black !important;
}
/*end footer*/