<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ClothingStoreV2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/fontawesome-free-6.1.2-web/css/all.css" />
    <link rel="stylesheet" href="~/css/site.css" type="text/css" />
    <script src="~/fontawesome-free-6.1.2-web/js/all.js"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

</head>
<body>
<div id="page-container">
    <header>
        <nav class="navbar navbar-expand-sm    box-shadow  fixed-top ">
            <div class="container">

                <a class="navbar-brand " asp-area="" asp-controller="Home" asp-action="Index">ESCANOR</a>
                <form asp-controller="Home" asp-action="All" style="margin-left: -554px;">
                    <input type="text" placeholder="Search" name="SearchString"/>
                    <button type="submit" class="fa fa-search" style="color: white;"></button>
                </form>

                <partial name="_LoginPartial"/>
            </div>

        </nav>
        <nav class="navbar mb-3 navbar-expand-sm fixed-top" style="margin-top: 40px;">
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between text-white">
                    <ul class="navbar-nav flex-grow-1 justify-content-center navCat">
                        <li class="nav-item ">
                            <a class="nav-link active firstnav" asp-controller="Home" asp-action="All">All</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link " asp-controller="Home" asp-action="BrowseCategory" asp-route-id="1">SUITS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " asp-controller="Home" asp-action="BrowseCategory" asp-route-id="2">SHIRTS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " asp-controller="Home" asp-action="BrowseCategory" asp-route-id="3">JEANS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " asp-controller="Home" asp-action="BrowseCategory" asp-route-id="4">SPORTSWEAR</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " asp-controller="Home" asp-action="BrowseCategory" asp-route-id="5">SHOES</a>
                        </li>



                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div id="content-wrap">
        <div class="container" style="margin-top: 100px;">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>


@await RenderSectionAsync("Scripts", required: false)



<footer class="footer-14398">

    <div class="container">
        <div class="row mb-5">
            <div class="col-md-3">
                <a asp-action="Index" asp-controller="Home" class="footer-site-logo">ESCANOR</a>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit officiis corporis optio natus. </p>
            </div>
            <div class="col-md-2 ml-auto">
                <h3>Shop</h3>
                <ul class="list-unstyled links">
                    <li><a href="#">Sell online</a></li>
                    <li><a href="#">Features</a></li>
                    <li><a href="#">Examples</a></li>
                    <li><a href="#">Website editors</a></li>
                    <li><a href="#">Online retail</a></li>
                </ul>
            </div>
            <div class="col-md-2 ml-auto">
                <h3>Press</h3>
                <ul class="list-unstyled links">
                    <li><a href="#">Events</a></li>
                    <li><a href="#">News</a></li>
                    <li><a href="#">Awards</a></li>
                    <li><a href="#">Testimonials</a></li>
                    <li><a href="#">Online retail</a></li>
                </ul>
            </div>
            <div class="col-md-2 ml-auto">
                <h3>About</h3>
                <ul class="list-unstyled links">
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Team</a></li>
                    <li><a href="#">Career</a></li>
                    <li><a href="#">Contacts</a></li>
                </ul>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-12 pb-4">
                <div class="line"></div>
            </div>
            <div class="col-md-6 text-md-left">
                <ul class="list-unstyled link-menu nav-left">
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms &amp; Conditions</a></li>
                    <li><a href="#">Code of Conduct</a></li>
                </ul>
            </div>
            <div class="col-md-6 text-md-right">
                <ul class="list-unstyled social nav-right">
                    <li><a href="#"><span class="icon-twitter"></span></a></li>
                    <li><a href="#"><span class="icon-instagram"></span></a></li>
                    <li><a href="#"><span class="icon-facebook"></span></a></li>
                    <li><a href="#"><span class="icon-pinterest"></span></a></li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-7">
                <p><small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, fuga. Ex at maxime eum odio quibusdam pariatur expedita explicabo harum! Consectetur ducimus delectus nemo, totam odit!</small></p>
            </div>
        </div>

    </div>

</footer>



</div>
</body>
</html>

