@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using ClothingStoreV2.Interfaces
@using System.Security.Claims
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject IUserDatumRepository userDatumRepository
@{
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ClothingStoreV2</title>
    <link rel="stylesheet" href="~/lib/bootstraplux/bootstrap.css" />
    <link rel="stylesheet" href="~/fontawesome-free-6.1.2-web/css/all.css" />
    <link rel="stylesheet" href="~/css/index.css" type="text/css" />
    <script src="~/fontawesome-free-6.1.2-web/js/all.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/popper/umd/popper.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
</head>
<body>
    <div id="page-container">
        <header style="z-index: 3;">
            <div class="logo ">
                <h2 style="padding-top: 10px;">Escanor</h2>
            </div>
            <div class="navigation">
                <input type="checkbox" id="nav-checkbox">
                <label for="nav-checkbox" class="nav-toggle">
                    <img src="~/images/open.png" alt="open menu" class="open">
                    <img src="~/images/close.png" alt="close menu" class="close">
                </label>
                <ul class="nav-menu">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        @if (!User.IsInRole("admin"))
                        {
                            @if (!userDatumRepository.userFilled(User.FindFirstValue(ClaimTypes.NameIdentifier)))
                            {
                                <li class="nav-item">
                                    <a class="nav-link " asp-controller="UserDatum" asp-action="FillData">Please Complete Data</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link " asp-controller="Purchase" asp-action="MyPurchases">My Cart <i class="fa fa-cart-shopping"></i></a>
                                </li>
                            }
                        }
                        @if (User.IsInRole("admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link " asp-controller="Item" asp-action="CreateItem">Create Items</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a id="manage" class="nav-link " asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">My Account <i class="fa fa-user"></i></a>
                        </li>
                        <li class="nav-item">
                            <form style="display: none" id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                <button id="logout" type="submit" class="nav-link">Logout <i class="fa fa-sign-out-alt"></i></button>
                            </form>
                            <a id="logout-link" class="nav-link" href="#">Logout <i class="fa fa-sign-out-alt"></i></a>
                            @*<a class="nav-link " id="logout" type="submit" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">Logout  <i class="fa fa-sign-out-alt"></i></a>*@
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link " id="login" asp-area="Identity" asp-page="/Account/Login">Login <i class="fa fa-sign-in-alt"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Register <i class="fa fa-user"></i></a>
                        </li>
                    }
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Categories</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" asp-controller="Home" asp-action="All">All</a>
                            <a class="dropdown-item" id="Category1" asp-controller="Home" asp-action="BrowseCategory" asp-route-id="1">SUITS</a>
                            <a class="dropdown-item " id="Category2" asp-controller="Home" asp-action="BrowseCategory" asp-route-id="2">SHIRTS</a>
                            <a class="dropdown-item " id="Category3" asp-controller="Home" asp-action="BrowseCategory" asp-route-id="3">JEANS</a>
                            <a class="dropdown-item " id="Category4" asp-controller="Home" asp-action="BrowseCategory" asp-route-id="4">SPORTSWEAR</a>
                            <a class="dropdown-item " id="Category5" asp-controller="Home" asp-action="BrowseCategory" asp-route-id="5">SHOES</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
        <div class="hero">
            <h1>ESCANOR</h1>
            <h3>HIGH QUALITY ClOTHING FOR MEN</h3>
            <a asp-controller="Home" asp-action="ALL" asp-route-id="1">start shopping</a>
        </div>
    <div class="content">
        @*<div class="slider">
            <div id="main-slider" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <h1>HIGH QUALITY <span>SUITS FOR MEN</span></h1>
                    <div class="overlay"></div>
                    <div class="carousel-item active">
                        <img src="~/images/crsl4.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="~/images/crsl2.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="~/images/crsl6.jpg" class="d-block w-100" alt="...">
                    </div>
                </div>
            </div>
        </div>*@
        @*<button class="btn btn-primary">hello</button>*@
        <div class="container">
            @*<img src="~/images/indexfirst.jpg" style="max-width: 100%;"/>*@
            <hr class="divider" />
            <div class=" justify-content-center m-3">
                <div class="card border-1 custom-card " style="padding: 0;">
                    <div class="row ">
                        <div class="col m-auto    text-md-start text-center">
                            <img class="card-img-top " style="width: 300px; height: auto" src="~/images/indexthird.webp" />
                        </div>
                        <div class="col m-auto w-auto">
                            <div class="card-body text-center align-self-center">
                                <h3>
                                    SHOP DRESS SHIRTS
                                </h3>
                                <h5>
                                    ALL COLLAR AND CUFF STYLES
                                </h5><br />
                                <a class="btn btn-primary" asp-action="BrowseCategory" asp-route-id="2">SHOP NOW</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="divider" />
            @*<img src="~/images/indexforth.jpg" class="img-fluid" style="max-width: 100%;"/>*@
            <!-- Services-->
            <section class="page-section" id="services">
                <div class="container px-4 px-lg-5">
                    <h2 class="text-center mt-0">At Your Service</h2>
                    <hr class="divider" />
                    <div class="row gx-4 gx-lg-5">
                        <div class="col-lg-3 col-md-6 text-center">
                            <div class="mt-5">
                                <div class="mb-2"><i class="fa-solid fa-gem fs-1 text-primary"></i></div>
                                <h3 class="h4 mb-2">High Quality</h3>
                                <p class="text-muted mb-0">Our Items are updated regularly to keep them bug free!</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 text-center">
                            <div class="mt-5">
                                <div class="mb-2"><i class="fa-solid fa-laptop fs-1 text-primary"></i></div>
                                <h3 class="h4 mb-2">Shop Online</h3>
                                <p class="text-muted mb-0">All dependencies are kept current to keep things fresh.</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 text-center">
                            <div class="mt-5">
                                <div class="mb-2"><i class="fa-solid fa-globe fs-1 text-primary"></i></div>
                                <h3 class="h4 mb-2">Deliver Anywhere</h3>
                                <p class="text-muted mb-0">You can use this project as is, or you can make changes!</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 text-center">
                            <div class="mt-5">
                                <div class="mb-2"><i class="fa-solid fa-heart fs-1 text-primary"></i></div>
                                <h3 class="h4 mb-2">Made with Love</h3>
                                <p class="text-muted mb-0">Is it really open source if it's not made with love?</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>                        <hr class="divider" />
            <div class="text-center" style="padding-top: 50px;">
                <h4>Our social networks</h4>
                <div style="font-size: 40px;">
                    <a href="https://www.facebook.com/HazemRg/"><i class="fa-brands fa-facebook DarkBrands"></i></a>
                    <a href="https://twitter.com/HazemRagaab">
                        <i class="fa-brands fa-twitter DarkBrands"></i>
                    </a>
                    <a href="https://www.instagram.com/hazemragabb/"><i class="fa-brands fa-instagram DarkBrands"></i></a>
                    <a href="https://www.youtube.com/channel/UC4vClvcmVpSVNS0m0FdUTWw"><i class="fa-brands fa-youtube DarkBrands"></i></a>
                    <a href="https://www.linkedin.com/in/hazem-ragab-889247204/"><i class="fa-brands fa-linkedin DarkBrands"></i></a>
                </div>
            </div>
        </div>
      
    </div>
    
    
    
    <footer class=" bg-primary customDark  py-5">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md">
                    <h1 class=" text-light">Escanor</h1>
                    <small class="d-block mb-3 text-muted">&copy; 2017-2019</small>
                </div>
                <div class="col-6 col-md">
                    <h5>Features</h5>
                    <ul style="text-decoration: none !important; " class="list-unstyled text-small">
                        <li ><a style="text-decoration: none" class="text-muted" href="#">Cool stuff</a></li>
                        <li><a  style="text-decoration: none" class="text-muted" href="#">Random feature</a></li>
                        <li><a style="text-decoration: none"  class="text-muted" href="#">Team feature</a></li>
                        <li><a style="text-decoration: none"  class="text-muted" href="#">Stuff for developers</a></li>
                        <li><a style="text-decoration: none"  class="text-muted" href="#">Another one</a></li>
                        <li><a style="text-decoration: none"  class="text-muted" href="#">Last time</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>Resources</h5>
                    <ul class="list-unstyled text-small">
                        <li><a style="text-decoration: none"  class="text-muted" href="#">Resource</a></li>
                        <li><a style="text-decoration: none"  class="text-muted" href="#">Resource name</a></li>
                        <li><a style="text-decoration: none"  class="text-muted" href="#">Another resource</a></li>
                        <li><a style="text-decoration: none"  class="text-muted" href="#">Final resource</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>Resources</h5>
                    <ul class="list-unstyled text-small">
                        <li><a style="text-decoration: none"  class="text-muted" href="#">Business</a></li>
                        <li><a style="text-decoration: none"  class="text-muted" href="#">Education</a></li>
                        <li><a style="text-decoration: none"  class="text-muted" href="#">Government</a></li>
                        <li><a style="text-decoration: none"  class="text-muted" href="#">Gaming</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>About</h5>
                    <ul class="list-unstyled text-small">
                        <li><a style="text-decoration: none"  class="text-muted" href="#">Team</a></li>
                        <li><a style="text-decoration: none"  class="text-muted" href="#">Locations</a></li>
                        <li><a style="text-decoration: none"  class="text-muted" href="#">Privacy</a></li>
                        <li><a style="text-decoration: none"  class="text-muted" href="#">Terms</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script>
            $(document).ready(function () {
                $(window).bind('scroll',
                    function () {
                        var gap = 58;
                        if ($(window).scrollTop() > gap) {
                            $('header').addClass('active');
                        } else {
                            $('header').removeClass('active');
                        }
                    })
            });
            document.getElementById('logout-link').addEventListener('click',
                function (evt) {
                    evt.preventDefault();
                    document.getElementById('logoutForm').submit();
                });
        </script>
    </div>
</body>
</html>
