<a asp-action="BrowseCategory" asp-controller="Home" asp-route-id="1" style="text-decoration: none;color: white">
    <div class="suitsContainer">
        <img src="~/images/indexsecond.webp" width="100%" />
        <div class="suitsContainerCentered" style="width: 100%">
            <h2 style="font-size: 70px;">SHOP MENS SUITS</h2>
            <h6>YEAR-ROUND SUITS IN ALL COLORS AND FABRICS</h6>
            <a>Shop now</a>
        </div>
    </div>
</a>
<br />
<br />
<br />
<img src="~/images/indexfirst.jpg" style="max-width: 100%;" />
<br />
<br />
<div class="row justify-content-center m-3">
    <div class="">
        <div class="card border-1 custom-card" style="padding: 0;">
            <img class="card-img-top" style="width:300px;height: auto" src="~/images/indexthird.webp" />
            <div class="card-body text-center align-self-center">
                <h3>
                    SHOP DRESS SHIRTS
                </h3>
                <h5>
                    ALL COLLAR AND CUFF STYLES

                </h5><br />
                <a class="btn btn-dark" asp-action="BrowseCategory" asp-route-id="2">SHOP NOW</a>
            </div>
        </div>
    </div>
</div>

<br />
<br />
<img src="~/images/indexforth.jpg" style="max-width: 100%;" />
<br />
<br />
<div class="text-center">
    <h4>Our social networks</h4>
    <div style="font-size: 40px;">
        <a href="https://www.facebook.com/HazemRg/"><i class="fa-brands fa-facebook DarkBrands"></i></a>
        <a href="https://twitter.com/HazemRagaab">
            <i class="fa-brands fa-twitter DarkBrands"></i>
        </a>
        <a href="https://www.instagram.com/hazemragabb/"><i class="fa-brands fa-instagram DarkBrands"></i></a>
        <a href="https://www.youtube.com/channel/UC4vClvcmVpSVNS0m0FdUTWw"><i class="fa-brands fa-youtube DarkBrands"></i></a>
        <a href="https://www.linkedin.com/in/hazem-ragab-889247204/"><i class="fa-brands fa-linkedin DarkBrands"></i></a>
    </div>
</div>